<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>Header goes here</header>
    <div>
        @RenderBody()
    </div>

    <footer>Footer goes here</footer>
</body>
</html>
